{% load static %}

{% if user.is_authenticated %}
<div>
    {% if user.is_superuser %}
        Superuser
    {% else %}
        {{ user.first_name }} {{ user.username }}
    {% endif %}

    <a href="{% url 'index' %}">HOME</a>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <a href="#" onclick="this.closest('form').submit();return false;">LOGOUT</a>
    </form>
</div>
{% else %}
<div>
    <a href="{% url 'index' %}">HOME</a>
    <a href="{% url 'signin' %}">SIGN IN</a>
    <a href="{% url 'signup' %}">SIGN UP</a>
</div>
{% endif %}