{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container-sm">

  <h2 class="text-center mt-5 mb-5">{% translate "Sign up" %}</h2>

  <form class="row g-3 mt-5 mb-5" action="{% url 'signup' %}" method="post">
    {% csrf_token %}

    {% if warning_message %}
    <div class="bg-danger-subtle border border-danger rounded mx-2 py-2 col">
      <span class="text-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
        </svg>
      </span>
      <span class="align-middle">{{ warning_message }}</span>
    </div>
    <div class="col-12"></div>
    {% endif %}

    <div class="col-md-6">
      <label for="name" class="form-label">{% translate "Name" %}</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="col-md-6 mb-4">
      <label for="email" class="form-label">{% translate "Email" %}</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>

    <div class="col-md-6">
      <label for="password" class="form-label">{% translate "Password" %}</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>

    <div class="col-md-6">
      <label for="confirm-password" class="form-label">{% translate "Password" %} ({% translate "confirm" %})</label>
      <input type="password" class="form-control" id="confirm-password" name="confirm-password">
    </div>

    <figure class="col">
      <figcaption class="blockquote-footer">
        {% translate "Must be more than 8 characters and contain uppercase, lowercase, special characters, and numbers" %}
      </figcaption>
    </figure>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">{% translate "Sign up" %}</button>
    </div>

  </form>

</div>

{% endblock %}
