{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container-sm mb-5 pb-5">

  <h2 class="text-center mt-5">{% translate "Sign in" %}</h2>

  <form class="row g-3 my-5" action="{% url 'signin' %}" method="post">
    {% csrf_token %}

    {% if warning_message %}
    <div class="col-md-3"></div>
    <div class="bg-danger-subtle border border-danger rounded mx-2 py-2 col-md-6">
      <span class="text-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
        </svg>
      </span>
      <span class="align-middle">{{ warning_message }}</span>
    </div>
    <div class="col-12"></div>
    {% endif %}

    <div class="col-md-3"></div>
    <div class="col-md-6">
      <label for="email" class="form-label">{% translate "Email" %}</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="col-md-3"></div>

    <div class="col-md-3"></div>
    <div class="col-md-6">
      <label for="password" class="form-label">{% translate "Password" %}</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="col-md-3"></div>

    <div class="col-md-3"></div>
    <div class="col-6">
      <button type="submit" class="btn btn-primary">{% translate "Sign in" %}</button>
    </div>
    <div class="col-md-3"></div>

  </form>

</div>

{% endblock %}
